<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p>Category: <%= @restaurant.category %></p>

<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>

<%= link_to 'Back to restaurant list', restaurants_path(@restaurants), class: "btn btn-primary" %>
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
